In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("../data/One Piece Database.xlsx", sheet_name = "Chapter Appearances", engine = 'openpyxl')

In [7]:
data['Chapter Number'] = data['Chapter Number'].ffill()
data

     Chapter Number     Character                   Note
0               1.0        Shanks  Official Introduction
1               1.0         Luffy  Official Introduction
2               1.0        Higuma  Official Introduction
3               1.0        Makino  Official Introduction
4               1.0  Benn Beckman                   None
..              ...           ...                    ...
115            21.0        Cabaji                   None
116            21.0         Mohji                   None
117            21.0     Chou Chou                   None
118            21.0    Funan Bros                   None
119            22.0          None                   None

[120 rows x 3 columns]